{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
    <div class="container my-3">
        {% if question_list %}
            {% for question in question_list %}
                <div class="main_post_board">
                    <div class="post_time">
                        {{ question.create_date }}
                    </div>
                    <div class="post_divider"></div>
                    {% if question.imgfile %}
                        <div class="post_image_wrap">
                            {#                            <div id="post_image_top" class="post_image_top"></div>#}
                            <img src="{{ question.imgfile.url }}" id="post_img" class="post_image">
                        </div>
                        <script>
                            let postImg = document.getElementById("post_image_top")
                            postImg.style.backgroundImage = "url({{ question.imgfile.url }})"
                            postImg.style.backgroundSize = "cover"
                        </script>
                    {% endif %}
                    <div class="post_content">{{ question.content }}</div>
                    <div class="post_user_name">by {{ question.author }}</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-through-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z"/>
                    </svg>
                    <div class="post_like"
                         style="display: inline-block; font-size: 14px; color: #888">{{ question.voter.count }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div>
                <p>질문이 없습니다.</p>
            </div>
        {% endif %}

        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in question_list.paginator.page_range %}
                {% if page_number >= question_list.number|add:-2 and page_number <= question_list.number|add:2 %}
                    {% if page_number == question_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
        {#    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>#}
        {#    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">#}
        {#    <path d="M43.5971 19.5972H28.4044V4.40118C28.4045 1.97415 26.4294 0 23.9999 0C21.5704 0 19.5955 1.97415 19.5955 4.40118V19.5972H4.40444C1.97586 19.5972 0 21.573 0 23.9999C0 26.426 1.97508 28.4011 4.40444 28.4011H19.5955V43.5971C19.5955 46.0249 21.5696 47.9998 23.9999 47.9998C26.4294 47.9998 28.4044 46.0248 28.4044 43.5971V28.4011H43.5971C46.0249 28.4011 47.9998 26.426 47.9998 23.9999C48 21.573 46.0249 19.5972 43.5971 19.5972Z" fill="#CECCCC"/>#}
        {#    </svg>#}
        <div class="padding_div" style="margin-bottom: 150px"></div>
    </div>
    <div class="create_post_btn_wrap">
        <a href="{% url 'pybo:question_create' %}" class="new_post_btn">
            <ion-icon name="add-outline"></ion-icon>
        </a>
    </div>
    <div class="main_bottom_bar"></div>
{% endblock %}