a{
    text-decoration: none;
    color: black;
}
body{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    width: 390px;
    margin: 0 auto;
}
/*top bar*/
.main_top_bar{
    padding: 0 13px;
    position: fixed;
    width: 390px;
    height: 85px;
    left: 50%;
    transform: translateX(-50%);

    background: #C6E4EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}
.top_bar_container{
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.top_bar_user_wrap a{
    color: #2f3438;
    padding: 2px 0 0;
}
.top_bar_user{
    display: flex;
    /*flex-direction: column;*/
    align-items: center
}
.top_bar_user_icon{
    /*position: absolute;*/
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: #81B5BC;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05), inset -4px -4px 10px rgba(0, 0, 0, 0.25);

    font-size: 24px;
    color: #d5d5d5;
    line-height: 40px;
    text-align: center;
}
.top_bar_home{
    font-size: 19px;
    text-decoration: none;
    color: #131313;
}


/**/
.question_form_cancel{
    width: 179px;
    height: 61px;

    background: #DEDEDE;
    border: 0;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.question_form_submit{
    margin-top: 10px;
    width: 179px;
    height: 61px;

    background: #A6D3FD;
    border: 0;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* Rectangle 7 */

.main_post_board{
   /*position: absolute;*/
    margin: 20px auto;
    padding: 25px;
    width: 350px;
    /*height: 397px;*/
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25), inset -4px -4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.post_time{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    color: #000000;
}
.post_divider{
    border-bottom: 1px #000000 solid;
    margin: 5px 0 15px;
}
.post_image_wrap{
    width: 300px;
    /*max-height: auto;*/
    border-radius: 5px;
}
.post_image_top{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;

}
.post_image{
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}
.post_content{
    margin-top: 10px;
    word-break:break-all;
}
.post_user_name{
    font-weight: bold;
    font-size: 14px;
}
.post_share_pdf{
    color: #1c1f23;
}
.post_share_pdf>ion-icon{
    z-index: 0;
}

.main_bottom_bar{
    position: fixed;
    margin: 0px auto;
    width: 380px;
    height: 75px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    background: #C6E4EE;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), inset -4px -4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.create_post_btn_wrap{
    position: fixed;
    width: 82px;
    height: 82px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border-radius: 50%;
    text-align: center;
    line-height: 82px;

    background: #FFCBCB;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.25);
}
.new_post_btn{
    hover:#5c636a;
    color: #5c636a;
    width: 82px;
    height: 82px;
    font-size: 65px;
    --ionicon-stroke-width: 45px;
}
.new_post_btn > ion-icon{
    margin-top: 8px;
}